<div class="header-wrapper">
  <div class="logo-title">
    <img src="/assets/logo.png" alt="logo" />
    <div class="header-title">Modernize</div>
  </div>
  <div class="search-wrapper">
    <mat-icon>search</mat-icon>
    <input class="search-input" placeholder="Search.." />
  </div>
  <div class="header-right">
    <mat-icon>message</mat-icon>
    <mat-icon matBadge="5" matBadgeColor="primary">
      notifications_none
    </mat-icon>
    <mat-icon> person</mat-icon>
    <span>John Doe</span>
  </div>
</div>
