.summary-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  div {
    border-right: 1px solid #e6e6e6;
  }
  div:last-child {
    border-right: none;
  }
}

@media only screen and (max-width: 768px) {
  .summary-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  div:nth-child(even) {
    border-right: none !important;
  }
}
