.main-content {
  display: flex;
  flex-direction: row;
  margin-top: 3.5rem;
}
.side-nav {
  height: 100vh;
  display: block;
}
.router-outlet-body {
  padding-block: 1rem;
  margin-inline: 1rem;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .side-nav {
    display: none;
  }
}
