.test {
  padding: 0.4rem 1rem;
  border-radius: 0.25rem;
}
.paid-status {
  color: rgba(6, 165, 97, 1);
  background-color: rgba(196, 248, 226, 1);
}
.pending-status {
  color: var(--secondary-font-color);
  background-color: rgba(230, 233, 244, 1);
}
