<app-body-header
  bodyHeader="Dashboard"
  buttonIcon="settings"
  buttonDescription="Manage"
>
</app-body-header>

<div class="dashboard-componet">
  <app-dashboard-summary></app-dashboard-summary>
  <div class="dashboard-chart-components">
    <app-order-over-time-chart></app-order-over-time-chart>
    <app-last-seven-day-sales-chart></app-last-seven-day-sales-chart>
  </div>
  <div class="recent-and-top-product">
    <app-recent-transaction></app-recent-transaction>
    <app-top-product-by-unit></app-top-product-by-unit>
  </div>
</div>
