.custom-data-display-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.test {
  display: flex;
  align-content: center;
  align-items: center;
}
.custom-data-description {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.custom-data-value {
  font-weight: 700;
  font-size: 20px;
  color: rgba(19, 21, 35, 1);
}
.data-title {
  font-weight: 400;
  font-size: 14px;
  color: rgba(90, 96, 127, 1);
}
.data-lossGain-value {
  display: flex;
  align-items: flex-start;
}
.icon-wrapper {
  margin-left: 1rem;
  padding: 0.5rem;
  border-radius: 100%;
  color: rgba(30, 94, 255, 1);
  background-color: rgba(236, 242, 255, 1);
}
